<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @game.name %> recieved a new like!</h1>
    <table>
      <tr><th>ID</th><th>Name</th><th>Year</th></tr>
      <tr><td><%= @game.id %></td><td><%= @game.name %></td><td><%= @game.year %></td></tr>
    </table>
  </body>
</html>